<!DOCTYPE html>
<html lang="en">

<%- include('../component/header.ejs',{
        title:"จัดการบิล"
      }) %>

<body>
  <div class="tm-main-content" id="top">

    <%- include('../component/navbarNew.ejs',{
        checklogin: checklogin,
        role:CheckRole,
        route: route
      }) %>
    <!-- END TOP BAR -->

    <!-- blank Page -->
    <div class="container-fluid " style="margin-top: 65px;">
      <div class=" container-fluid " style=" margin-top: 65px;">
        <div class=" row">
          <div class="container-fluid ">
            <div class=" row">
              <div class="col-md-12">
                <h4 class=" text-center">ตารางข้อมูลบิล</h4>
                <div class=" row">
                  <div class="col-md-12">
                    <% if(dataDeposit_users_room.length == 0 ) { %>
                    <a href="/owner/deposit">
                      <h1 class="d-flex justify-content-center">ไปเพิ่มข้อมูลการมัดจำก่อน</h1>
                    </a>
                    <% } else { %>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col" class="text-center">ลำดับ</th>
                          <th scope="col" class="text-center">ชื่อผู้ใช้</th>
                          <th scope="col" class="text-center">หมายเลขห้อง</th>
                          <th scope="col" class="text-center">ค่าห้อง</th>
                          <th scope="col" class="text-center">ค่าน้ำ</th>
                          <th scope="col" class="text-center">ค่าไฟ</th>
                          <th scope="col" class="text-center">วันที่ออกบิล</th>
                          <th scope="col" class="text-center">ออกบิล:
                            <button type="button" class="btn btn-primary-bill" data-toggle="modal" onclick="showmodalAddroombill(this)" data-target="#Modal_AddRoomprice"><i class="fas fa-home" style="font-size: 14px;"></i></button>
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <% if (dataBill.length == 0) { %>
                        <tr>
                          <td colspan="7" class="text-center">
                            <h1 class="d-flex justify-content-center">ไม่มีข้อมูล</h1>
                          </td>
                        </tr>

                        <% } else { %>
                        <% for (let i = 0; i < dataBill.length; i++) { %>
                        <tr>
                          <th scope="row"><%= i+1 %></th>
                          <td> <%= dataBill[i].firstname %> </td>
                          <td> <%= dataBill[i].room_number %> </td>
                          <td> <%= dataBill[i].room_price %></td>
                          <td>
                            <% if(dataBill[i].water_price == null) { %>
                            ยังไม่เพิ่มบิลค่าน้ำ
                            <% } else { %>
                            <%= dataBill[i].water_price %>
                            <% } %>
                          </td>
                          <td>
                            <% if(dataBill[i].power_price  == null) { %>
                            ยังไม่เพิ่มบิลค่าไฟ
                            <% } else { %>
                            <%= dataBill[i].power_price %>
                            <% } %>
                          </td>
                          <td> <%= dataBill[i].bBill_date  %> </td>
                          <td class="text-center">
                            <% if (dataBill[i].bill_status == 1 ) { %>
                            <h5>ชำระเงินแล้ว</h5>
                            <%  } else { %>
                            <% if (dataBill[i].roombill_id == null) { %>
                            <button type="button" class="btn btn-primary-bill" data-toggle="modal" onclick="showmodalAddroombill(this)" data-target="#Modal_AddRoomprice" data-User="<%= JSON.stringify(dataBill[i]) %>"><i class="fas fa-home" style="font-size: 14px;"></i></button>
                            <% } else { %>

                            <button type="button" class="btn btn-primary-bill" data-toggle="modal" onclick="showmodalUpdateroombill(this)" data-target="#Modal_UpdateRoomprice" data-User="<%= JSON.stringify(dataBill[i]) %>"><i class="fas fa-home" style="font-size: 14px;"> แก้ไขบิล</i></button>

                            <% if (dataBill[i].waterbill_id == null){ %>
                            <button type="button" class="btn btn-success" style="background-color: blue ;" data-toggle="modal" onclick="showmodalAddWaterbill(this)" data-target="#Modal_AddWaterprice" data-User="<%= JSON.stringify(dataBill[i]) %>"><i class="fas fa-tint"></i></button>
                            <%  } else { %>
                            <button type="button" class="btn btn-success" style="background-color: blue ;" data-toggle="modal" onclick="showmodalUpdateWaterbill(this)" data-target="#Modal_UpdateWaterprice" data-User="<%= JSON.stringify(dataBill[i]) %>"><i class="fas fa-tint" style="font-size: 15px;"> แก้ไขบิล</i></button>

                            <% } %>
                            <% if (dataBill[i].powerbill_id == null) { %>
                            <button type="button" class="btn btn-warning" data-toggle="modal" onclick="showmodalAddPowerrbill(this)" data-target="#Modal_AddPowerprice" data-User="<%= JSON.stringify(dataBill[i]) %>"><i class="fas fa-bolt" style="color: white;"></i></button>
                            <% } else { %>
                            <button type="button" class="btn btn-warning" data-toggle="modal" onclick="showmodalUpdatePowerbill(this)" data-target="#Modal_UpdatePowerprice" data-User="<%= JSON.stringify(dataBill[i]) %>"><i class="fas fa-bolt" style="color: white;"></i> แก้ไขบิล</button>
                            <% } %>

                            <% } %>
                            <% } %>



                          </td>
                        </tr>
                        <% } %>
                        <% } %>
                      </tbody>
                    </table>

                    <% } %>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!------------------------------------------------------------------------------ จัดการบิลค่าห้อง ------------------------------------------------------------------>
    <!-- โมดอลออกบิลค่าห้อง -->
    <div class="modal fade bd-example-modal-lg" id="Modal_AddRoomprice" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ออกบิลค่าห้อง</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">หมายเลขห้อง</label>
                    <div class="row" style="margin-left: 1px; ">
                      <select class="form-select" id="RoomID" aria-label="Default select example" onchange="chackAddTenant()" style="height: 44.9px; width: 130px;">
                        <option selected>เลือกหมายเลขห้อง</option>
                        <% for (let i = 0; i < dataDeposit.length; i++) { %>
                        <option value="<%= dataDeposit[i].room_id %>"><%= dataDeposit[i].room_id+"-"+dataDeposit[i].room_number %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1" style="margin-left: -50px;">วันที่ออกบิล :</label>
                    <div class="row" style="margin-left: -50px;">
                      <input type="date" id="roombill_date" style="width: 125px; height: 45px; font-size: 16px;">
                      <input type="time" id="roombill_time" style="font-size: 16px;">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <input type="button" class="btn btn-secondary" style="background-color: blueviolet;" value="ออกบิล" onclick="AddRoomBill()" />
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: darkcyan;">ยกเลิก</button>
          </div>

        </div>
      </div>
    </div>

    <!-- โมดอลแก้ไขบิลค่าห้อง -->
    <div class="modal fade bd-example-modal-lg" id="Modal_UpdateRoomprice" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ออกบิลค่าห้อง</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">หมายเลขห้อง</label>
                    <input type="hidden" class="form-control" id="powerbill_id">
                    <input type="hidden" class="form-control" id="roombill_id">
                    <input type="hidden" class="form-control" id="Editroom_id" placeholder="กรอกid ห้อง">
                    <input type="hidden" class="form-control" id="waterbill_id">
                    <input type="text" disabled class="form-control" id="Editroom_number" placeholder="กรอกหมายเลขห้อง">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">วันที่ออกบิล :</label>
                    <div class="row" style="margin-left: 1px;">
                      <input type="date" id="Editroombill_date" style="width: 125px; height: 45px; font-size: 16px;">
                      <input type="time" id="Editroombill_time" style="font-size: 16px;">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <input type="button" class="btn btn-warning" value="แก้ไขบิล" onclick="UpdateRoomBill()" />
            <input type="button" class="btn btn-danger" value="ลบบิล" onclick="DeleteRoomBill()" />
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: darkcyan;">ยกเลิก</button>
          </div>

        </div>
      </div>
    </div>

    <!------------------------------------------------------------------------------ จัดการบิลค่าน้ำ ------------------------------------------------------------------>
    <!-- โมดอลออกบิลค่าน้ำ -->
    <div class="modal fade bd-example-modal-lg" id="Modal_AddWaterprice" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ออกบิลค่าน้ำ</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">หมายเลขห้อง</label>
                    <input type="hidden" class="form-control" id="room_id_water" placeholder="กรอกid ห้อง">
                    <input type="text" disabled class="form-control" id="room_number_water" placeholder="กรอกหมายเลขห้อง">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">วันที่ออกบิล :</label>
                    <div class="row" style="margin-left: 1px;">
                      <input type="date" class="text-lg-center" id="waterbill_date" style="width: 125px; height: 45px; font-size: 16px;">
                      <input type="time" class="text-lg-center" id="waterbill_time" style="font-size: 16px;">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">หน่วยน้ำ</label>
                    <input type="number" class="form-control" id="water_unit" placeholder="กรอกหน่วยน้ำ (10)" onkeyup="sumWaterPrice()">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">ราคา/หน่วย</label>
                    <input type="hidden" class="form-control" id="Bill_id">
                    <input type="number" class="form-control" id="water_unitPrice" placeholder="กรอกราคา/หน่วย" onkeyup="sumWaterPrice()">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">ราคารวม (บาท)</label>
                    <input type="number" disabled class="form-control" id="water_price" placeholder="ราคารวม">
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <input type="button" class="btn btn-secondary" style="background-color: blueviolet;" value="ออกบิล" onclick="AddWaterBill()" />
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: darkcyan;">ยกเลิก</button>
          </div>

        </div>
      </div>
    </div>

    <!-- โมดอลแก้ไขออกบิลค่าน้ำ -->
    <div class="modal fade bd-example-modal-lg" id="Modal_UpdateWaterprice" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">แก้ไขบิลค่าน้ำ</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">หมายเลขห้อง</label>
                    <input type="hidden" class="form-control" id="Editroom_id_water" placeholder="กรอกid ห้อง">
                    <input type="text" disabled class="form-control" id="Editroom_number_water" placeholder="กรอกหมายเลขห้อง">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">วันที่ออกบิล :</label>
                    <div class="row" style="margin-left: 1px;">
                      <input type="date" class="text-lg-center" id="Editwaterbill_date" style="width: 125px; height: 45px; font-size: 16px;">
                      <input type="time" class="text-lg-center" id="Editwaterbill_time" style="font-size: 16px;">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">หน่วยน้ำ</label>
                    <input type="number" class="form-control" id="Editwater_unit" placeholder="กรอกหน่วยน้ำ (10)" onkeyup="sumWaterPricefix()">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">ราคา/หน่วย</label>
                    <input type="hidden" class="form-control" id="EditWaterbill_id">
                    <input type="hidden" class="form-control" id="Bill_id">
                    <input type="number" class="form-control" id="Editwater_unitPrice" placeholder="กรอกราคา/หน่วย" onkeyup="sumWaterPricefix()">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">ราคารวม (บาท)</label>
                    <input type="number" disabled class="form-control" id="Editwater_price" placeholder="ราคารวม">
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <input type="button" class="btn btn-warning" value="แก้ไขบิล" onclick="UpdateWaterBill()" />
            <input type="button" class="btn btn-danger" value="ลบบิล" onclick="DeleteWaterBill()" />
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: darkcyan;">ยกเลิก</button>
          </div>

        </div>
      </div>
    </div>

    <!------------------------------------------------------------------------------ จัดการบิลค่าไฟ ------------------------------------------------------------------>
    <!-- โมดอลออกบิลค่าไฟ -->
    <div class="modal fade bd-example-modal-lg" id="Modal_AddPowerprice" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ออกบิลค่าไฟ</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">หมายเลขห้อง</label>
                    <input type="hidden" class="form-control" id="room_id_power" placeholder="กรอกid ห้อง">
                    <input type="text" disabled class="form-control" id="room_number_power" placeholder="กรอกหมายเลขห้อง">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">วันที่ออกบิล :</label>
                    <div class="row" style="margin-left: 1px;">
                      <input type="date" class="text-lg-center" id="powerbill_date" style="width: 125px; height: 45px; font-size: 16px;">
                      <input type="time" class="text-lg-center" id="powerbill_time" style="font-size: 16px;">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">หน่วยไฟ</label>
                    <input type="number" class="form-control" id="power_unit" placeholder="กรอกหน่วยไฟ (10)" onkeyup="sumPowerPrice()">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">ราคา/หน่วย</label>
                    <input type="hidden" class="form-control" id="Bill_id_power">
                    <input type="number" class="form-control" id="power_unitPrice" placeholder="กรอกราคา/หน่วย" onkeyup="sumPowerPrice()">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">ราคารวม (บาท)</label>
                    <input type="number" disabled class="form-control" id="power_price" placeholder="ราคารวม">
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <input type="button" class="btn btn-secondary" style="background-color: blueviolet;" value="ออกบิล" onclick="AddPowerBill()" />
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: darkcyan;">ยกเลิก</button>
          </div>

        </div>
      </div>
    </div>

    <!-- โมดอลแก้ไขออกบิลค่าไฟ -->
    <div class="modal fade bd-example-modal-lg" id="Modal_UpdatePowerprice" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">แก้ไขบิลค่าไฟ</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">หมายเลขห้อง</label>
                    <input type="hidden" class="form-control" id="Editroom_id_power" placeholder="กรอกid ห้อง">
                    <input type="text" disabled class="form-control" id="Editroom_number_power" placeholder="กรอกหมายเลขห้อง">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">วันที่ออกบิล :</label>
                    <div class="row" style="margin-left: 1px;">
                      <input type="date" class="text-lg-center" id="EditPowerbill_date" style="width: 125px; height: 45px; font-size: 16px;">
                      <input type="time" class="text-lg-center" id="EditPowerbill_time" style="font-size: 16px;">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">หน่วยไฟ</label>
                    <input type="number" class="form-control" id="EditPower_unit" placeholder="กรอกหน่วยน้ำ (10)" onkeyup="sumPowerPricefix()">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">ราคา/หน่วย</label>
                    <input type="hidden" class="form-control" id="EditPowerbill_id">
                    <input type="hidden" class="form-control" id="EditBill_id_power">
                    <input type="number" class="form-control" id="EditPower_unitPrice" placeholder="กรอกราคา/หน่วย" onkeyup="sumPowerPricefix()">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">ราคารวม (บาท)</label>
                    <input type="number" disabled class="form-control" id="EditPower_price" placeholder="ราคารวม">
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <input type="button" class="btn btn-warning" value="แก้ไขบิล" onclick="UpdatePowerBill()" />
            <input type="button" class="btn btn-danger" value="ลบบิล" onclick="DeletePowerBill()" />
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: darkcyan;">ยกเลิก</button>
          </div>

        </div>
      </div>
    </div>
    <footer class="tm-bg-dark-blue">
      <div class="container">
        <div class="row">
          <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
            Copyright &copy; <span class="tm-current-year">2018</span> Your Company

            - Design: <a rel="nofollow" href="https://www.tooplate.com" class="tm-color-primary tm-font-normal" target="_parent">Tooplate</a></p>
        </div>
      </div>
    </footer>
  </div>

  <%- include('../component/script.ejs') %>
</body>


<script>
  //-------------------------------------------------------------------------จัดการบิลค่าห้อง----------------------------------------------------
  // //---------------------------------โชว์ข้อมูลออกบิลค่าห้อง-----------------------------------
  // function showmodalAddroombill(modal) {
  //   let user = modal.getAttribute("data-User")
  //   const jsonUser = JSON.parse(user)
  //   document.getElementById("room_id").value = jsonUser.dep_room_id
  //   document.getElementById("room_number").value = jsonUser.room_number
  //   document.getElementById("bBill_date").value = jsonUser.bBill_date
  //   console.log("------------วันออกบิล", jsonUser.bBill_date);
  //   Room_id = jsonUser.room_id;
  // }

  //---------------------------------ออกข้อมูลบิลค่าห้อง----------------------------------------
  async function AddRoomBill() {
    let room_id = document.getElementById("RoomID").value;
    let roombill_date = document.getElementById("roombill_date").value;
    let roombill_time = document.getElementById("roombill_time").value;

    const roombilldate = roombill_date + " " + roombill_time;
    console.log("-----------", room_id, "-----------", roombilldate);
    if (room_id == '' || roombill_date == '' || roombill_time == '') {
      swal.fire({
        position: 'center',
        icon: 'info',
        title: 'กรุณากรอกข้อมูลให้ครบ',
        time: 2000
      })
      return;
    }
    const Data = {
      "room_id": room_id,
      "roombill_date": roombilldate,
    }
    console.log(Data);
    const url = location.origin + "/apiowner/AddRoombill";
    $.ajax({
      type: 'POST',
      url: url,
      data: JSON.stringify(Data),
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      success: function(data, status) {
        console.log("hello world", data)
        swal.fire({
          position: 'center',
          icon: 'success',
          title: 'ออกบิลค่าห้องพักสำเร็จ',
          time: 2000
        }).then(() => {
          location.reload()
        });
      },
      error: function(jqXhr, textStatus, errorThrow) {
        const msg = (() => {
          switch (jqXhr.responseJSON.message) {
            case "bill_duplicated":
              return "มีบิลในเดือนนี้แล้ว";
          }
        })();
        console.log(msg);
        swal.fire({
          position: 'center',
          icon: 'error',
          title: msg,
          time: 2000
        })
      }
    })

  }

  //---------------------------------โชว์ข้อมูลแก้ไขออกบิลค่าห้อง-----------------------------------
  function showmodalUpdateroombill(modal) {
    let user = modal.getAttribute("data-User")
    const jsonUser = JSON.parse(user)
    console.log(jsonUser);
    document.getElementById("Editroom_id").value = jsonUser.dep_room_id
    document.getElementById("Editroom_number").value = jsonUser.room_number
    document.getElementById("roombill_id").value = jsonUser.roombill_id
    document.getElementById("waterbill_id").value = jsonUser.waterbill_id
    document.getElementById("powerbill_id").value = jsonUser.powerbill_id
    console.log("-------------------บิลไฟ", jsonUser.powerbill_id);
    const roombilldate = jsonUser.rBill_date.split(" ")

    document.getElementById("Editroombill_date").value = roombilldate[0];
    document.getElementById("Editroombill_time").value = roombilldate[1]
    Room_id = jsonUser.room_id;
  }

  //---------------------------------แก้ไขข้อมูลบิลค่าห้อง----------------------------------------
  async function UpdateRoomBill() {
    let room_id = document.getElementById("Editroom_id").value;
    let roombill_date = document.getElementById("Editroombill_date").value;
    let roombill_time = document.getElementById("Editroombill_time").value;

    const roombilldate = roombill_date + " " + roombill_time;

    if (room_id == '' || roombill_date == '' || roombill_time == '') {
      swal.fire({
        position: 'center',
        icon: 'info',
        title: 'กรุณากรอกข้อมูลให้ครบ',
        time: 2000
      })
      return;
    }
    const Data = {
      "room_id": room_id,
      "roombill_date": roombilldate,
    }
    console.log(Data);
    const url = location.origin + "/apiowner/UpdateRoombill";
    $.ajax({
      type: 'POST',
      url: url,
      data: JSON.stringify(Data),
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      success: function(data, status) {
        console.log("hello world", data)
        swal.fire({
          position: 'center',
          icon: 'success',
          title: 'แก้ไขบิลค่าห้องพักสำเร็จ',
          time: 2000
        }).then(() => {
          location.reload()
        });
      },
      error: function(jqXhr, textStatus, errorThrow) {
        const msg = (() => {
          switch (jqXhr.responseJSON.message) {
            case "duplicated":
              return "มีหมายเลขห้องพักนี้แล้ว";
          }
        })();
        console.log(msg);
        swal.fire({
          position: 'center',
          icon: 'error',
          title: msg,
          time: 2000
        })
      }
    })

  }

  //---------------------------------ลบข้อมูลบิลค่าห้อง-----------------------------------
  async function DeleteRoomBill() {
    let waterbill_id = document.getElementById("waterbill_id").value
    let roombill_id = document.getElementById("roombill_id").value
    let powerbill_id = document.getElementById("powerbill_id").value
    console.log("--------บิลค่าห้องที่", roombill_id);
    console.log("--------บิลค่าไฟที่", powerbill_id);
    Swal.fire({
      title: 'แน่ใจแล้วหรือ ?',
      text: "คุณต้องการลบบิลค่าห้องหรือไม่ !",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#F10724',
      cancelButtonColor: '#darkcyan',
      cancelButtonText: 'ยกเลิก',
      confirmButtonText: 'ใช่ต้องการลบ !'
    }).then((result) => {
      if (result.isConfirmed) {
        const Data = {
          roombill_id: roombill_id,
          waterbill_id: waterbill_id,
          powerbill_id: powerbill_id
        }
        console.log(Data);
        const url = location.origin + '/apiowner/DeleteRoombill/';
        $.ajax({
          type: 'POST',
          url: url,
          data: JSON.stringify(Data),
          dataType: 'json',
          contentType: "application/json; charset=utf-8",
          success: function(data, status) {
            if (data.message == "DeleteRoombill") {
              Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'ลบข้อมูลบิลค่าห้องสำเร็จ',
                showConfirmButton: true,
              }).then(() => {
                location.reload();
              })
            }
          },
          error: function(jqXhr, textStatus, errorThrow) {
            swal.fire({
              position: 'center',
              icon: 'error',
              title: 'เกิดข้อผิดพลาด!',
              time: 2000
            });
          }
        })
      }
    })
  }

  //-------------------------------------------------------------------------จัดการบิลค่าน้ำ----------------------------------------------------
  //---------------------------------โชว์ข้อมูลออกบิลค่าน้ำ-----------------------------------
  function showmodalAddWaterbill(modal) {
    let user = modal.getAttribute("data-User")
    const jsonUser = JSON.parse(user)
    document.getElementById("room_id_water").value = jsonUser.dep_room_id
    document.getElementById("room_number_water").value = jsonUser.room_number
    document.getElementById("Bill_id").value = jsonUser.bill_id
    // console.log(jsonUser.bill_id);
    Room_id = jsonUser.room_id;
  }

  function sumWaterPrice() {
    let waterUnit = document.getElementById("water_unit").value;
    let waterUnit_price = document.getElementById("water_unitPrice").value;
    let n1 = parseInt(waterUnit);
    let n2 = parseInt(waterUnit_price);
    if (isNaN(n1)) {
      document.getElementById("water_price").value = "โปรดกรอกหน่วยน้ำ"
    } else if (isNaN(n2)) {
      document.getElementById("water_price").value = "โปรดกรอกราคา/หน่วย"
    } else {
      let sum = parseFloat(waterUnit) * parseFloat(waterUnit_price);
      // console.log(sum);
      document.getElementById("water_price").value = sum
    }

  }
  //---------------------------------ออกข้อมูลบิลค่าน้ำ----------------------------------------
  async function AddWaterBill() {
    let waterUnit = document.getElementById("water_unit").value;
    let waterUnit_price = document.getElementById("water_unitPrice").value;
    let waterPrice = document.getElementById("water_price").value
    let waterbill_date = document.getElementById("waterbill_date").value;
    let waterbill_time = document.getElementById("waterbill_time").value;
    let bill_id = document.getElementById("Bill_id").value;

    const waterbilldate = waterbill_date + " " + waterbill_time;
    console.log("-----------", waterbilldate);
    if (waterUnit == '' || waterUnit_price == '' || waterPrice == '' || waterbill_date == '' || waterbill_time == '' || bill_id == '') {
      swal.fire({
        position: 'center',
        icon: 'info',
        title: 'กรุณากรอกข้อมูลให้ครบ',
        time: 2000
      })
      return;
    }
    const Data = {
      "water_unit": waterUnit,
      "water_unitPrice": waterUnit_price,
      "water_price": waterPrice,
      "waterbilldate": waterbilldate,
      "Bill_id": bill_id
    }
    console.log(Data);
    const url = location.origin + "/apiowner/AddWaterbill";
    $.ajax({
      type: 'POST',
      url: url,
      data: JSON.stringify(Data),
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      success: function(data, status) {
        console.log("hello world", data)
        swal.fire({
          position: 'center',
          icon: 'success',
          title: 'ออกบิลค่าน้ำสำเร็จ',
          time: 2000
        }).then(() => {
          location.reload()
        });
      },
      error: function(jqXhr, textStatus, errorThrow) {
        console.log(jqXhr)
        const msg = (() => {
          switch (jqXhr.responseJSON.message) {
            case "duplicated":
              return "มีหมายเลขห้องพักนี้แล้ว";
          }
        })();
        // console.log(msg);
        swal.fire({
          position: 'center',
          icon: 'error',
          title: msg,
          time: 2000
        })
      }
    })

  }

  //---------------------------------โชว์ข้อมูลแก้ไขบิลค่าน้ำ-----------------------------------
  function showmodalUpdateWaterbill(modal) {
    let user = modal.getAttribute("data-User")
    const jsonUser = JSON.parse(user)
    document.getElementById("Editroom_id_water").value = jsonUser.dep_room_id
    document.getElementById("Editroom_number_water").value = jsonUser.room_number
    document.getElementById("EditWaterbill_id").value = jsonUser.waterbill_id
    document.getElementById("Editwater_unit").value = jsonUser.water_unit
    document.getElementById("Editwater_unitPrice").value = jsonUser.water_unitPrice
    document.getElementById("Editwater_price").value = jsonUser.water_price
    document.getElementById("Bill_id").value = jsonUser.bill_id
    // console.log(jsonUser.waterbill_id);
    const waterbilldate = jsonUser.wBill_date.split(" ")

    document.getElementById("Editwaterbill_date").value = waterbilldate[0];
    document.getElementById("Editwaterbill_time").value = waterbilldate[1]
  }

  function sumWaterPricefix() {
    let waterUnit = document.getElementById("Editwater_unit").value;
    let waterUnit_price = document.getElementById("Editwater_unitPrice").value;
    let n1 = parseInt(waterUnit);
    let n2 = parseInt(waterUnit_price);
    if (isNaN(n1)) {
      document.getElementById("Editwater_price").value = "โปรดกรอกหน่วยน้ำ"
    } else if (isNaN(n2)) {
      document.getElementById("Editwater_price").value = "โปรดกรอกราคา/หน่วย"
    } else {
      let sum = parseFloat(waterUnit) * parseFloat(waterUnit_price);
      // console.log(sum);
      document.getElementById("Editwater_price").value = sum
    }
  }



  //---------------------------------แก้ไขข้อมูลบิลค่าน้ำ----------------------------------------
  async function UpdateWaterBill() {
    let waterUnit = document.getElementById("Editwater_unit").value;
    let waterUnit_price = document.getElementById("Editwater_unitPrice").value;
    let waterPrice = document.getElementById("Editwater_price").value
    let room_id = document.getElementById("Editroom_id_water").value;
    let waterbill_date = document.getElementById("Editwaterbill_date").value;
    let waterbill_time = document.getElementById("Editwaterbill_time").value;
    let waterbill_id = document.getElementById("EditWaterbill_id").value;

    const waterbilldate = waterbill_date + " " + waterbill_time;

    if (waterUnit == '' || waterUnit_price == '' || waterPrice == '' || waterbill_date == '' || waterbill_time == '') {
      swal.fire({
        position: 'center',
        icon: 'info',
        title: 'กรุณากรอกข้อมูลให้ครบ',
        time: 2000
      })
      return;
    }
    const Data = {
      "waterUnit": waterUnit,
      "waterUnit_price": waterUnit_price,
      "waterPrice": waterPrice,
      "waterbilldate": waterbilldate,
      "waterbill_id": waterbill_id
    }
    console.log(Data);
    const url = location.origin + "/apiowner/UpdateWaterbill";
    $.ajax({
      type: 'POST',
      url: url,
      data: JSON.stringify(Data),
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      success: function(data, status) {
        console.log("hello world", data)
        swal.fire({
          position: 'center',
          icon: 'success',
          title: 'แก้ไขบิลค่าน้ำสำเร็จ',
          time: 2000
        }).then(() => {
          location.reload()
        });
      },
      error: function(jqXhr, textStatus, errorThrow) {
        const msg = (() => {
          switch (jqXhr.responseJSON.message) {
            case "duplicated":
              return "มีหมายเลขห้องพักนี้แล้ว";
          }
        })();
        console.log(msg);
        swal.fire({
          position: 'center',
          icon: 'error',
          title: msg,
          time: 2000
        })
      }
    })

  }

  //---------------------------------ลบข้อมูลบิลค่าน้ำ-----------------------------------
  async function DeleteWaterBill() {
    let waterbill_id = document.getElementById("EditWaterbill_id").value;
    let bill_id = document.getElementById("Bill_id").value;
    console.log("--------บิลค่าน้ำที่", waterbill_id);
    console.log("--------บิลที่", bill_id);
    Swal.fire({
      title: 'แน่ใจแล้วหรือ ?',
      text: "คุณต้องการลบบิลค่าน้ำหรือไม่ !",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#F10724',
      cancelButtonColor: '#darkcyan',
      cancelButtonText: 'ยกเลิก',
      confirmButtonText: 'ใช่ต้องการลบ !'
    }).then((result) => {
      if (result.isConfirmed) {
        const Data = {
          waterbill_id: waterbill_id,
          bill_id: bill_id
        }
        console.log(Data);
        const url = location.origin + '/apiowner/DeleteWaterbill/';
        $.ajax({
          type: 'POST',
          url: url,
          data: JSON.stringify(Data),
          dataType: 'json',
          contentType: "application/json; charset=utf-8",
          success: function(data, status) {
            if (data.message == "DeleteWaterbill") {
              Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'ลบข้อมูลบิลค่าน้ำสำเร็จ',
                showConfirmButton: true,
              }).then(() => {
                location.reload();
              })
            }
          },
          error: function(jqXhr, textStatus, errorThrow) {
            swal.fire({
              position: 'center',
              icon: 'error',
              title: 'เกิดข้อผิดพลาด!',
              time: 2000
            });
          }
        })
      }
    })
  }

  //-------------------------------------------------------------------------จัดการบิลค่าไฟ----------------------------------------------------
  //---------------------------------โชว์ข้อมูลออกบิลค่าไฟ-----------------------------------
  function showmodalAddPowerrbill(modal) {
    let user = modal.getAttribute("data-User")
    const jsonUser = JSON.parse(user)
    document.getElementById("room_id_power").value = jsonUser.dep_room_id
    document.getElementById("room_number_power").value = jsonUser.room_number
    document.getElementById("Bill_id_power").value = jsonUser.bill_id
    // console.log(jsonUser.bill_id);
    Room_id = jsonUser.room_id;
  }

  function sumPowerPrice() {
    let powerUnit = document.getElementById("power_unit").value;
    let powerUnit_price = document.getElementById("power_unitPrice").value;
    let n1 = parseInt(powerUnit);
    let n2 = parseInt(powerUnit_price);
    if (isNaN(n1)) {
      document.getElementById("power_price").value = "โปรดกรอกหน่วยไฟ"
    } else if (isNaN(n2)) {
      document.getElementById("power_price").value = "โปรดกรอกราคา/หน่วย"
    } else {
      let sum = parseFloat(powerUnit) * parseFloat(powerUnit_price);
      // console.log(sum);
      document.getElementById("power_price").value = sum
    }

  }

  //---------------------------------ออกข้อมูลบิลค่าไฟ----------------------------------------
  async function AddPowerBill() {
    let powerUnit = document.getElementById("power_unit").value;
    let powerUnit_price = document.getElementById("power_unitPrice").value;
    let powerPrice = document.getElementById("power_price").value
    let powerbill_date = document.getElementById("powerbill_date").value;
    let powerbill_time = document.getElementById("powerbill_time").value;
    let bill_id = document.getElementById("Bill_id_power").value;

    const powerbilldate = powerbill_date + " " + powerbill_time;
    // console.log("-----------", waterbilldate);
    if (powerUnit == '' || powerUnit_price == '' || powerPrice == '' || powerbill_date == '' || powerbill_time == '' || bill_id == '') {
      swal.fire({
        position: 'center',
        icon: 'info',
        title: 'กรุณากรอกข้อมูลให้ครบ',
        time: 2000
      })
      return;
    }
    const Data = {
      "powerUnit": powerUnit,
      "powerUnit_price": powerUnit_price,
      "powerPrice": powerPrice,
      "powerbilldate": powerbilldate,
      "Bill_id": bill_id
    }
    console.log(Data);
    const url = location.origin + "/apiowner/AddPowerbill";
    $.ajax({
      type: 'POST',
      url: url,
      data: JSON.stringify(Data),
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      success: function(data, status) {
        console.log("hello world", data)
        swal.fire({
          position: 'center',
          icon: 'success',
          title: 'ออกบิลค่าไฟสำเร็จ',
          time: 2000
        }).then(() => {
          location.reload()
        });
      },
      error: function(jqXhr, textStatus, errorThrow) {
        console.log(jqXhr)
        const msg = (() => {
          switch (jqXhr.responseJSON.message) {
            case "duplicated":
              return "มีหมายเลขห้องพักนี้แล้ว";
          }
        })();
        // console.log(msg);
        swal.fire({
          position: 'center',
          icon: 'error',
          title: msg,
          time: 2000
        })
      }
    })

  }

  //---------------------------------โชว์ข้อมูลแก้ไขบิลค่าไฟ-----------------------------------
  function showmodalUpdatePowerbill(modal) {
    let user = modal.getAttribute("data-User")
    const jsonUser = JSON.parse(user)
    document.getElementById("Editroom_id_power").value = jsonUser.dep_room_id
    document.getElementById("Editroom_number_power").value = jsonUser.room_number
    document.getElementById("EditPowerbill_id").value = jsonUser.powerbill_id
    document.getElementById("EditPower_unit").value = jsonUser.power_unit
    document.getElementById("EditPower_unitPrice").value = jsonUser.power_unitPrice
    document.getElementById("EditPower_price").value = jsonUser.power_price
    document.getElementById("EditBill_id_power").value = jsonUser.bill_id
    console.log("---------------------บิลที่", jsonUser.bill_id);
    const powerbilldate = jsonUser.pBill_date.split(" ")

    document.getElementById("EditPowerbill_date").value = powerbilldate[0];
    document.getElementById("EditPowerbill_time").value = powerbilldate[1]
  }

  function sumPowerPricefix() {
    let powerUnit = document.getElementById("EditPower_unit").value;
    let powerUnit_price = document.getElementById("EditPower_unitPrice").value;
    let n1 = parseInt(powerUnit);
    let n2 = parseInt(powerUnit_price);
    if (isNaN(n1)) {
      document.getElementById("EditPower_price").value = "โปรดกรอกหน่วยน้ำ"
    } else if (isNaN(n2)) {
      document.getElementById("EditPower_price").value = "โปรดกรอกราคา/หน่วย"
    } else {
      let sum = parseFloat(powerUnit) * parseFloat(powerUnit_price);
      // console.log(sum);
      document.getElementById("EditPower_price").value = sum
    }
  }



  //---------------------------------แก้ไขข้อมูลบิลค่าไฟ----------------------------------------
  async function UpdatePowerBill() {
    let powerUnit = document.getElementById("EditPower_unit").value;
    let powerUnit_price = document.getElementById("EditPower_unitPrice").value;
    let powerPrice = document.getElementById("EditPower_price").value
    let room_id = document.getElementById("Editroom_number_power").value;
    let powerbill_date = document.getElementById("EditPowerbill_date").value;
    let powerbill_time = document.getElementById("EditPowerbill_time").value;
    let powerbill_id = document.getElementById("EditPowerbill_id").value;

    const powerbilldate = powerbill_date + " " + powerbill_time;

    if (powerUnit == '' || powerUnit_price == '' || powerPrice == '' || powerbill_date == '' || powerbill_time == '') {
      swal.fire({
        position: 'center',
        icon: 'info',
        title: 'กรุณากรอกข้อมูลให้ครบ',
        time: 2000
      })
      return;
    }
    const Data = {
      "powerUnit": powerUnit,
      "powerUnit_price": powerUnit_price,
      "powerPrice": powerPrice,
      "powerbilldate": powerbilldate,
      "powerbill_id": powerbill_id
    }
    console.log(Data);
    const url = location.origin + "/apiowner/UpdatePowerbill";
    $.ajax({
      type: 'POST',
      url: url,
      data: JSON.stringify(Data),
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      success: function(data, status) {
        console.log("hello world", data)
        swal.fire({
          position: 'center',
          icon: 'success',
          title: 'แก้ไขบิลค่าน้ำสำเร็จ',
          time: 2000
        }).then(() => {
          location.reload()
        });
      },
      error: function(jqXhr, textStatus, errorThrow) {
        const msg = (() => {
          switch (jqXhr.responseJSON.message) {
            case "duplicated":
              return "มีหมายเลขห้องพักนี้แล้ว";
          }
        })();
        console.log(msg);
        swal.fire({
          position: 'center',
          icon: 'error',
          title: msg,
          time: 2000
        })
      }
    })

  }

  //---------------------------------ลบข้อมูลบิลค่าไฟ-----------------------------------
  async function DeletePowerBill() {
    let powerbill_id = document.getElementById("EditPowerbill_id").value;
    let bill_id = document.getElementById("EditBill_id_power").value;
    console.log("--------บิลค่าไฟที่", powerbill_id);
    console.log("--------บิลที่", bill_id);
    Swal.fire({
      title: 'แน่ใจแล้วหรือ ?',
      text: "คุณต้องการลบบิลค่าไฟหรือไม่ !",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#F10724',
      cancelButtonColor: '#darkcyan',
      cancelButtonText: 'ยกเลิก',
      confirmButtonText: 'ใช่ต้องการลบ !'
    }).then((result) => {
      if (result.isConfirmed) {
        const Data = {
          powerbill_id: powerbill_id,
          bill_id: bill_id
        }
        console.log(Data);
        const url = location.origin + '/apiowner/DeletePowerbill/';
        $.ajax({
          type: 'POST',
          url: url,
          data: JSON.stringify(Data),
          dataType: 'json',
          contentType: "application/json; charset=utf-8",
          success: function(data, status) {
            if (data.message == "DeletePowerbill") {
              Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'ลบข้อมูลบิลค่าไฟสำเร็จ',
                showConfirmButton: true,
              }).then(() => {
                location.reload();
              })
            }
          },
          error: function(jqXhr, textStatus, errorThrow) {
            swal.fire({
              position: 'center',
              icon: 'error',
              title: 'เกิดข้อผิดพลาด!',
              time: 2000
            });
          }
        })
      }
    })
  }
</script>

</html>