<!DOCTYPE html>
<html lang="en">

<%- include('../component/header.ejs',{
        title:"จัดการผู้เช่า"
      }) %>

<body>
  <div class="tm-main-content" id="top">

    <%- include('../component/navbarNew.ejs',{
        checklogin: checklogin,
        role:CheckRole,
        route: route
      }) %>
    <!-- END TOP BAR -->

    <!-- blank Page -->
    <div class="container-fluid " style="margin-top: 65px;">
      <div class=" row">
        <div class="col-md-12">
          <h4 class=" text-center">ตารางข้อมูลผู้เช่า</h4>
          <div class=" row">
            <div class="col-md-12">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">ลำดับ</th>
                    <th scope="col" class="text-center">ชื่อ-นามสกุล</th>
                    <th scope="col" class="text-center">ชื่อผู้ใช้งาน</th>
                    <th scope="col" class="text-center">อีเมล์</th>
                    <th scope="col" class="text-center">ที่อยู่</th>
                    <th scope="col" class="text-center">เบอร์โทร</th>
                    <th scope="col">การทำงาน : <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#Modal_Add" style="background-color: blueviolet;"><i class="fas fa-plus-square"></i></button></th>
                  </tr>
                </thead>

                <tbody>
                  <% if (dataTenant.length == 0) { %>
                  <tr>
                    <td colspan="7" class="text-center">
                      <h1>ไม่มีข้อมูล</h1>
                    </td>
                  </tr>

                  <% } else { %>
                  <% for (let i = 0; i < dataTenant.length; i++) { %>
                  <tr>
                    <th scope="row"><%= i+1 %></th>
                    <td><%= dataTenant[i].firstname %> <%= dataTenant[i].surname %></td>
                    <td><%= dataTenant[i].username %></td>
                    <td><%= dataTenant[i].user_email %> </td>
                    <td><%= dataTenant[i].user_address %></td>
                    <td><%= dataTenant[i].user_tel %></td>
                    <td>
                      <button type="button" class="btn btn-warning" onclick="showmodalupdate(this)" data-toggle="modal" data-target="#Modal_Update" data-User="<%= JSON.stringify(dataTenant[i]) %>"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-danger" onclick="DeleteTenant('<%= dataTenant[i].user_id %>')"><i class="far fa-trash-alt"></i></button>
                    </td>
                  </tr>
                  <% } %>
                  <% } %>
                </tbody>

              </table>
            </div>
            <div class="col-2">
              <h3>ข้อมูลเจ้าของหอ</h3>
              <div style="margin-left: 350px;">
                <img src="" alt="" style="width: 420px ; height: 250px;">
              </div>
            </div>
            <div class="col-12" style="margin-top: 20px; margin-left: 185px;">
              <div class="row">
                <div class="col-2">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"></span>
                    <input type="text" class="form-control" disabled value="ชื่อจริง :<%=dataUser.firstname  %>" aria-label="Firstname" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-2">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"></span>
                    <input type="text" class="form-control" disabled value="นามสกุล :<%=dataUser.surname  %>" aria-label=" Surname" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-3">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"></span>
                    <input type="text" class="form-control" disabled value="อีเมล์ :<%=dataUser.user_email  %>" aria-label=" Email" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"></span>
                    <input type="text" class="form-control" disabled value="ที่อยู่ :<%=dataUser.user_address  %>" aria-label=" Address" aria-describedby="basic-addon1">
                  </div>
                </div>
                <div class="col-2">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"></span>
                    <input type="text" class="form-control" disabled value="เบอร์โทร :<%=dataUser.user_tel  %>" aria-label=" Phonenumber" aria-describedby="basic-addon1">
                  </div>
                  <% if (dataUser.length != 0 ) { %>
                  <input type="hidden" class="form-control" disabled value="<%=dataUser.user_id  %>" aria-describedby=" basic-addon1" id="user_id">
                  <input type="hidden" class="form-control" disabled value="<%=dataUser.role_id  %>" aria-describedby=" basic-addon1" id="Role_id">
                  <% } %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- โมดอลเพิ่มข้อมูล -->
    <div class="modal fade bd-example-modal-lg" id="Modal_Add" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูลผู้เช่า</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">ชื่อจริง</label>
                    <input type="text" class="form-control" id="Firstname" placeholder="กรอกชื่อจริง">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">นามสกุล</label>
                    <input type="text" class="form-control" id="Surname" placeholder="กรอกนามสกุล">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">ชื่อผู้ใช้</label>
                    <input type="text" class="form-control" id="username" placeholder="กรอกชื่อผู้ใช้">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">รหัสผ่าน</label>
                    <input type="password" class="form-control" id="password" placeholder="กรอกรหัสผ่าน">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1">ที่อยู่อีเมล์</label>
                    <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="กรอกอีเมล์">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="exampleInputEmail1">เบอร์โทร</label>
                    <input type="text" class="form-control" id="Phonenumber" placeholder="กรอกเบอร์โทร">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <label for="exampleInputEmail1">ที่อยู่</label>
                    <textarea type="text" class="form-control" id="Address" placeholder="กรอกที่อยู่"></textarea>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <input type="button" class="btn btn-secondary" value="เพิ่มข้อมูล" style="background-color: blueviolet;" onclick="AddTenant() " />
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: darkcyan;">ยกเลิก</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- โมดอลแก้ไขข้อมูล -->
  <div class="modal fade bd-example-modal-lg" id="Modal_Update" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">แก้ไขข้อมูลผู้เช่า</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label for="exampleInputPassword1">ชื่อจริง</label>
                  <input type="text" class="form-control" id="EditFirstname" placeholder="กรอกชื่อจริง">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="exampleInputPassword1">นามสกุล</label>
                  <input type="text" class="form-control" id="EditSurname" placeholder="กรอกนามสกุล">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="exampleInputPassword1">ชื่อผู้ใช้</label>
                  <input type="text" class="form-control" id="Editusername" placeholder="กรอกชื่อผู้ใช้">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label for="exampleInputPassword1">รหัสผ่าน</label>
                  <input type="password" class="form-control" id="Editpassword" placeholder="กรอกรหัสผ่าน">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="exampleInputEmail1">ที่อยู่อีเมล์</label>
                  <input type="email" class="form-control" id="EditEmail" aria-describedby="emailHelp" placeholder="กรอกอีเมล์">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="exampleInputEmail1">เบอร์โทร</label>
                  <input type="text" class="form-control" id="EditPhonenumber" placeholder="กรอกเบอร์โทร">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="form-group">
                  <label for="exampleInputEmail1">ที่อยู่</label>
                  <textarea type="text" class="form-control" id="EditAddress" placeholder="กรอกที่อยู่"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <input type="button" class="btn btn-warning" value="แก้ไขข้อมูล" onclick="UpdateTenant()" />
          <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: darkcyan;">ยกเลิก</button>
        </div>

      </div>
    </div>
  </div>

  <footer class="tm-bg-dark-blue">
    <div class="container">
      <div class="row">
        <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
          Copyright &copy; <span class="tm-current-year">2018</span> Your Company

          - Design: <a rel="nofollow" href="https://www.tooplate.com" class="tm-color-primary tm-font-normal" target="_parent">Tooplate</a></p>
      </div>
    </div>
  </footer>
  </div>

  <%- include("../component/script.ejs") %>
</body>


<script>
  //---------------------------------เพิ่มข้อมูลสมาชิก-----------------------------------
  async function AddTenant() {
    let firstname = document.getElementById("Firstname").value;
    let surname = document.getElementById("Surname").value;
    let username = document.getElementById("username").value;
    let password = document.getElementById("password").value;
    let email = document.getElementById("Email").value;
    let address = document.getElementById("Address").value;
    let phone_number = document.getElementById("Phonenumber").value;
    let owner_id = document.getElementById("user_id").value;
    let role_id = document.getElementById("Role_id").value;

    if (firstname == '' || surname == '' || username == '' || password == '' || email == '' || address == '' || phone_number == '') {
      swal.fire({
        position: 'center',
        icon: 'info',
        title: 'กรุณากรอกข้อมูลให้ครบ',
        time: 2000
      })
      return;
    }
    const Data = {
      "Firstname": firstname,
      "Surname": surname,
      "username": username,
      "password": password,
      "Email": email,
      "Address": address,
      "Phonenumber": phone_number,
      "owner": owner_id,
      "Role_id": role_id
    }
    console.log(Data);
    const url = location.origin + "/apiowner/AddTenant";
    $.ajax({
      type: 'POST',
      url: url,
      data: JSON.stringify(Data),
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      success: function(data, status) {
        console.log("hello world", data)
        swal.fire({
          position: 'center',
          icon: 'success',
          title: 'เพิ่มสมาชิกสำเร็จ',
          time: 2000
        }).then(() => {
          location.reload()
        });
      },
      error: function(jqXhr, textStatus, errorThrow) {
        console.log(jqXhr);
        const msg = (() => {
          switch (jqXhr.responseJSON.message) {
            case "user_duplicated":
              return "ชื่อผู้ใช้งานถูกใช้ไปแล้ว";
          }
        })();
        swal.fire({
          position: 'center',
          icon: 'error',
          title: msg,
          time: 2000
        })
      }
    })

  }
  let UserId = "";

  //---------------------------------โชว์ข้อมูลผู้เช่าหอ-----------------------------------
  function showmodalupdate(modal) {
    let user = modal.getAttribute("data-User")
    const jsonUser = JSON.parse(user)
    document.getElementById("EditFirstname").value = jsonUser.firstname
    document.getElementById("EditSurname").value = jsonUser.surname
    document.getElementById("Editusername").value = jsonUser.username
    document.getElementById("Editpassword").value = jsonUser.password
    document.getElementById("EditEmail").value = jsonUser.user_email
    document.getElementById("EditPhonenumber").value = jsonUser.user_tel
    document.getElementById("EditAddress").value = jsonUser.user_address
    //console.log(jsonUser)
    UserId = jsonUser.user_id
  }

  //---------------------------------แก้ไขข้อมูลผู้เช่าหอ-----------------------------------
  async function UpdateTenant() {
    console.log(UserId);
    let firstname = document.getElementById("EditFirstname").value;
    let surname = document.getElementById("EditSurname").value;
    let username = document.getElementById("Editusername").value;
    let password = document.getElementById("Editpassword").value;
    let email = document.getElementById("EditEmail").value;
    let address = document.getElementById("EditAddress").value;
    let phone_number = document.getElementById("EditPhonenumber").value;
    let role_id = document.getElementById("Role_id").value;

    console.log(firstname);
    console.log(surname);
    console.log(username);
    console.log(password);
    console.log(email);
    console.log(address);
    console.log(phone_number);
    if (!firstname || !surname || !username || !password || !email || !address || !phone_number) {
      console.log("if")
      swal.fire({
        position: 'center',
        icon: 'info',
        title: 'กรุณากรอกข้อมูลให้ครบ',
        time: 2000
      })
    } else {
      console.log("else")
      const Data = {
        "UserId": UserId,
        "Firstname": firstname,
        "Surname": surname,
        "username": username,
        "password": password,
        "Email": email,
        "Address": address,
        "Phonenumber": phone_number,
        "Role_id": role_id
      }
      console.log(Data);

      const url = location.origin + "/apiowner/UpdateTenant";
      $.ajax({
        type: 'POST',
        url: url,
        data: JSON.stringify(Data),
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        success: function(data, status) {
          console.log("hello world", data)
          swal.fire({
            position: 'center',
            icon: 'success',
            title: 'แก้ไขข้อมูลสมาชิกสำเร็จ',
            time: 2000
          }).then(() => {
            location.reload()
          });
        },
        error: function(jqXhr, textStatus, errorThrow) {
          console.log(jqXhr);
          const msg = (() => {
            switch (jqXhr.responseJSON.message) {
              case "user_duplicated":
                return "ชื่อผู้ใช้งานถูกใช้ไปแล้ว";
            }
          })();
          swal.fire({
            position: 'center',
            icon: 'error',
            title: msg,
            time: 2000
          })
        }
      })

    }
  }

  //---------------------------------ลบข้อมูลผู้เช่าหอ-----------------------------------
  async function DeleteTenant(user_id) {
    Swal.fire({
      title: 'แน่ใจแล้วหรือ ?',
      text: "คุณต้องการลบเจ้าของหอพัก !",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#F10724',
      cancelButtonColor: '#darkcyan',
      cancelButtonText: 'ยกเลิก',
      confirmButtonText: 'ใช่ต้องการลบ !'
    }).then((result) => {
      if (result.isConfirmed) {
        const Data = {
          user_id: user_id
        }
        const url = location.origin + '/apiowner/DeleteTenant/';
        $.ajax({
          type: 'POST',
          url: url,
          data: JSON.stringify(Data),
          dataType: 'json',
          contentType: "application/json; charset=utf-8",
          success: function(data, status) {
            if (data.message == "DeleteTenant") {
              Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'ลบข้อมูลเข้าของหอสำเร็จ',
                showConfirmButton: true,
              }).then(() => {
                location.reload();
              })
            }
          },
          error: function(jqXhr, textStatus, errorThrow) {
            swal.fire({
              position: 'center',
              icon: 'error',
              title: 'เกิดข้อผิดพลาด!',
              time: 2000
            });
          }
        })
      }
    })
  }
</script>

</html>