<!DOCTYPE html>
<html lang="en">

<%- include('./component/header.ejs',{
        title:"แผงควบคุม"
      }) %>
<style>
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    z-index: 99;
  }

  @media (max-width: 767.98px) {
    .sidebar {
      top: 11.5rem;
      padding: 0;
    }
  }

  .navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
  }

  @media (min-width: 767.98px) {
    .navbar {
      top: 0;
      position: sticky;
      z-index: 999;
    }
  }

  .sidebar .nav-link {
    color: #333;
  }

  .sidebar .nav-link.active {
    color: #0d6efd;
  }

  * {
    box-sizing: border-box;
  }

  #myInput {
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
  }

  #myTable th,
  #myTable td {
    text-align: left;
    padding: 12px;
  }

  #myTable tr {
    border-bottom: 1px solid #ddd;
  }

  #myTable tr.header,
  #myTable tr:hover {
    background-color: #f1f1f1;
  }

  .p {
    font-size: 16px;
  }
</style>


<body>
  <div class="tm-main-content" id="top">

    <%- include('./component/navbarNew.ejs',{
        checklogin: checklogin,
        role:CheckRole,
        route: route
      }) %>
    <!-- END TOP BAR -->

    <!-- blank Page -->
    <div class="container-fluid">
      <div class="row">
        <main class="col-md-9 ml-sm-auto col-lg-12 px-md-4 py-4">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Overview</li>
            </ol>
          </nav>
          <h1 class="h2">Dashboard</h1>
          <p class="p" style="font-size: 20px;">ข้อมูลการสรุปยอดต่างๆ ภายในระบบหอหอพัก</p>
          <div class="row my-4">
            <div class="col-12 col-md-6 col-lg-6 mb-4 mb-lg-0">
              <div class="card">
                <h5 class="card-header" style="background-color: #1f3646; color: white;">จำนวนหอพักที่อยู่ในระบบ</h5>
                <div class="card-body">
                  <h5 class="card-title"><%= dataCountDomi[0].Count_domi %> หอพัก</h5>
                  <p class="card-text p"> -</p>
                  <p class="card-text text-success p "> -</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-6">
              <div class="card">
                <h5 class="card-header" style="background-color: #1f3646; color: white;">จำนวนผู้เช่าที่ใช้ในระบบ</h5>
                <div class="card-body">
                  <h5 class="card-title"><%= dataCountUser[0].Count_users_role_3  %> คน </h5>
                  <p class="card-text p"> -</p>
                  <p class="card-text text-success p ">- </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-xl-12 mb-4 mb-lg-0">
              <div class="card">
                <h5 class="card-header" style="background-color: #1f3646; color: white;">หอพักที่อยู่ในระบบ</h5>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table" id="myTable">
                      <thead>
                        <tr class="header" style="background-color: #1f3646; color: white;">
                          <th scope="col">ลำดับ</th>
                          <th scope="col">ชื่อหอพัก</th>
                          <th scope="col">ชื่อเจ้าของหอพัก</th>
                          <th scope="col">ที่อยู่หอพัก</th>
                          <th scope="col">จำนวนผู้เช่าทั้งหมด</th>
                          <th scope="col">ดูข้อมูลหอเพิ่มเติม!</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (let i = 0; i < dataUser_domi.length; i++) { %>
                        <tr>
                          <th scope="row" class="text-center"><%= i+1 %></th>
                          <td><%= dataUser_domi[i].domitory_name  %> </td>
                          <td><%= dataUser_domi[i].firstname  %></td>
                          <td><%= dataUser_domi[i].domitory_address  %></td>
                          <td><%= dataUser_domi[i].CountDep  %> คน</td>
                          <td><button class="btn btn-sm btn-secondary" onclick="showmodalDomitory(this)" data-toggle="modal" data-target="#Modal_Domi" data-User="<%= JSON.stringify(dataUser_domi[i]) %>">ข้อมูลเพิ่มเติม.</button></td>
                        </tr>
                        <%  } %>

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <!-- โมดอลข้อมูล DOmi-->
    <div class="modal fade bd-example-modal-lg" id="Modal_Domi" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ข้อมูลหอพัก</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card" style="width: 48rem;">
              <div class="text-center" style="margin-top: 20px;">
                <img class="card-img-top" id="domi_img" src="/public/images_domitory/" alt="Card image cap" style="width: 280px; height: 280px;">
              </div>
              <div class="card-body">
                <h5 class="card-title">ชื่อหอพัก :</h5>
                <div class="col-4" style="margin-left: -14px;">
                  <div class="form-group">
                    <p class="p" id="domi_name"></p>
                  </div>
                </div>
                <h5 class="card-title">ที่อยู่หอพัก :</h5>
                <div class="col-8" style="margin-left: -14px;">
                  <div class="form-group">
                    <p class="p" id="domi_address"></p>
                  </div>
                </div>
                <h5 class="card-title">รายระเอียดหอพัก :</h5>
                <div class="col-8" style="margin-left: -14px;">
                  <div class="form-group">
                    <p class="p" id="domi_description"></p>
                  </div>
                </div>
                <h5 class="card-title">ติดต่อที่ :</h5>
                <div class="col-8" style="margin-left: -14px;">
                  <div class="form-group">
                    <p class="p" id="domi_phone"></p>
                    <p class="p" id="domi_email"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: darkcyan;">ปิด</button>
          </div>

        </div>
      </div>
    </div>

    <footer class=" tm-bg-dark-blue">
      <div class="container">
        <div class="row">
          <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
            Copyright &copy; <span class="tm-current-year">2022</span> Hotel Center

            - Design by: <a rel="nofollow" href="https://www.facebook.com/profile.php?id=100008831296272" class="tm-color-primary tm-font-normal" target="_parent">Tang</a></p>
        </div>
      </div>
    </footer>
  </div>

  <%- include('./component/script.ejs') %>
</body>


<script>
  $(document).ready(function() {
    $('#myTable').DataTable();
  });

  function showmodalDomitory(modal) {

    let user = modal.getAttribute("data-User")
    const jsonUser = JSON.parse(user)
    document.getElementById("domi_img").src = "/public/images_domitory/" + jsonUser.domitory_images
    document.getElementById("domi_name").innerHTML = jsonUser.domitory_name
    document.getElementById("domi_address").innerHTML = jsonUser.domitory_address
    document.getElementById("domi_description").innerHTML = jsonUser.domitory_description
    document.getElementById("domi_phone").innerHTML = 'เบอร์โทร : ' + jsonUser.user_tel
    document.getElementById("domi_email").innerHTML = 'อีเมล์ : ' + jsonUser.user_email

  }
</script>

</html>