<div class="tm-top-bar-bg"></div>
<div class="tm-top-bar" id="tm-top-bar">
  <!-- Top Navbar -->
  <div class="container">
    <div class="row">

      <% if (checklogin == undefined) { %>

      <nav class="navbar navbar-expand-lg narbar-light">
        <a class="navbar-brand mr-auto" href="#">
          <img src="img/hotel_center_logo2 copy.png" alt="Site logo">
          HOTEL CENTER
        </a>
        <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link <%= route == "index" ? "active " : "" %>" href="/">หน้าหลัก <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= route == "dormitoryList" ? "active" : "" %>" href="/dormitoryList">รายการหอพัก <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= route == "about" ? "active" : "" %>" href="/about">เกี่ยวกับ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tm-section-6">ติดต่อเรา</a>
            </li>
            <li class="nav-item" onclick="login()">
              <a class="nav-link" href="#tm-section-6">เข้าสู่ระบบ</a>
            </li>
          </ul>
        </div>
      </nav>
      <% }else {%>
      <% if (role == 1) { %>
      <nav class="navbar navbar-expand-lg narbar-light">
        <a class="navbar-brand mr-auto" href="#">
          <img src="img/hotel_center_logo2 copy.png" alt="Site logo">
          HOTEL CENTER
        </a>
        <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link <%= route == "index" ? "active " : "" %>" href="/adminhomepage">หน้าหลัก <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link <%= route == "dormowner" ? "active" : "" %>"" href=" /dormowner">จัดการเจ้าของหอพัก</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= route == "dormitoryManagement" ? "active" : "" %>"" href=" /dormitoryManagement">จัดการหอพัก</a>
            </li>
            <li class="nav-item" onclick="logout()">
              <a class="nav-link text-danger" href="#tm-section-6">ออกจากระบบ</a>
            </li>
          </ul>
        </div>
      </nav>
      <% } else if( role == 2) { %>
      <nav class="navbar navbar-expand-lg narbar-light">
        <a class="navbar-brand mr-auto" href="#">
          <img src="../img/hotel_center_logo2 copy.png" alt="Site logo">
          HOTEL CENTER
        </a>
        <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link <%= route == "index" ? "active " : "" %>" href="/user">หน้าหลัก <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= route == "tenantManagement" ? "active " : "" %>" href="/user/tenantManagement">จัดการผู้เช่า <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item" onclick="logout()">
              <a class="nav-link text-danger" href="#tm-section-6">ออกจากระบบ</a>
            </li>
          </ul>
        </div>
      </nav>
      <% } %>

      <% } %>
    </div>
  </div>
</div>
<script>
  function login() {
    location.href = location.origin + "/login_register";
  }

  function logout() {
    Swal.fire({
      title: 'ต้องการออกจากระบบ ?',
      text: "คุณต้องการที่จะออกจากระบบหรือไม่ !",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'ออกจากระบบ '
    }).then((result) => {
      if (result.isConfirmed) {
        location.href = location.origin + "/api/logout";
      }
    })
  }
</script>